In [60]:
## Introduction
#  In this project I will be combining the data from the Departments of
#  Education, Training and Employment (DETE) and the Technical and Further
#  Education (TAFE) institute in Queensland, Australia.

#  I have 2 questions to answer:
#  1) Are employees who only worked for the institutes for a short period
#     of time resigning due to some kind of dissatisfaction? What about
#     employees who have been there longer?
#  2) Are younger employees resigning due to some kind of dissatisfaction?
#     What about older employees?

In [61]:
import pandas as pd
import numpy as np
dete_survey = pd.read_csv('dete_survey.csv')
tafe_survey = pd.read_csv('tafe_survey.csv')

In [62]:
dete_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 56 columns):
ID                                     822 non-null int64
SeparationType                         822 non-null object
Cease Date                             822 non-null object
DETE Start Date                        822 non-null object
Role Start Date                        822 non-null object
Position                               817 non-null object
Classification                         455 non-null object
Region                                 822 non-null object
Business Unit                          126 non-null object
Employment Status                      817 non-null object
Career move to public sector           822 non-null bool
Career move to private sector          822 non-null bool
Interpersonal conflicts                822 non-null bool
Job dissatisfaction                    822 non-null bool
Dissatisfaction with the department    822 non-null bool
Physical work environment              822 non-null bool
Lack of recognition                    822 non-null bool
Lack of job security                   822 non-null bool
Work location                          822 non-null bool
Employment conditions                  822 non-null bool
Maternity/family                       822 non-null bool
Relocation                             822 non-null bool
Study/Travel                           822 non-null bool
Ill Health                             822 non-null bool
Traumatic incident                     822 non-null bool
Work life balance                      822 non-null bool
Workload                               822 non-null bool
None of the above                      822 non-null bool
Professional Development               808 non-null object
Opportunities for promotion            735 non-null object
Staff morale                           816 non-null object
Workplace issue                        788 non-null object
Physical environment                   817 non-null object
Worklife balance                       815 non-null object
Stress and pressure support            810 non-null object
Performance of supervisor              813 non-null object
Peer support                           812 non-null object
Initiative                             813 non-null object
Skills                                 811 non-null object
Coach                                  767 non-null object
Career Aspirations                     746 non-null object
Feedback                               792 non-null object
Further PD                             768 non-null object
Communication                          814 non-null object
My say                                 812 non-null object
Information                            816 non-null object
Kept informed                          813 non-null object
Wellness programs                      766 non-null object
Health & Safety                        793 non-null object
Gender                                 798 non-null object
Age                                    811 non-null object
Aboriginal                             16 non-null object
Torres Strait                          3 non-null object
South Sea                              7 non-null object
Disability                             23 non-null object
NESB                                   32 non-null object
dtypes: bool(18), int64(1), object(37)
memory usage: 258.6+ KB

In [63]:
#dete_survey.isnull().sum()
dete_survey['Region'].value_counts()

Metropolitan                135
Central Office              130
South East                  108
Not Stated                  105
Darling Downs South West     95
Central Queensland           84
North Coast                  75
North Queensland             53
Far North Queensland         37
Name: Region, dtype: int64

In [64]:
## Observation
#  There are 56 columns and 822 entries consisting of Bool, int64, and
#  objects.  Some columns are missing 80-90% of the data while others
#  look to be missing at most 10% of the data.
#  There are 9 different reasons for separation type
#  There are 15 different positions that are in the survey
#  10.8% of the surveys show that the people were dissatisfied
#  "Not Stated" is a survey option.  This should be NaN.

In [65]:
tafe_survey['Main Factor. Which of these was the main factor for leaving?'].value_counts()

Dissatisfaction with %[Institute]Q25LBL%    23
Job Dissatisfaction                         22
Other                                       18
Career Move - Private Sector                16
Interpersonal Conflict                       9
Career Move - Public Sector                  8
Maternity/Family                             6
Career Move - Self-employment                4
Ill Health                                   3
Travel                                       2
Study                                        2
Name: Main Factor. Which of these was the main factor for leaving?, dtype: int64

In [66]:
tafe_survey.isnull().sum()
#tafe_survey.columns
#tafe_survey['Main Factor. Which of these was the main factor for leaving?'].value_counts()

Record ID                                                                                                                                                          0
Institute                                                                                                                                                          0
WorkArea                                                                                                                                                           0
CESSATION YEAR                                                                                                                                                     7
Reason for ceasing employment                                                                                                                                      1
Contributing Factors. Career Move - Public Sector                                                                                                                265
Contributing Factors. Career Move - Private Sector                                                                                                               265
Contributing Factors. Career Move - Self-employment                                                                                                              265
Contributing Factors. Ill Health                                                                                                                                 265
Contributing Factors. Maternity/Family                                                                                                                           265
Contributing Factors. Dissatisfaction                                                                                                                            265
Contributing Factors. Job Dissatisfaction                                                                                                                        265
Contributing Factors. Interpersonal Conflict                                                                                                                     265
Contributing Factors. Study                                                                                                                                      265
Contributing Factors. Travel                                                                                                                                     265
Contributing Factors. Other                                                                                                                                      265
Contributing Factors. NONE                                                                                                                                       265
Main Factor. Which of these was the main factor for leaving?                                                                                                     589
InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                            94
InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                        89
InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                              92
InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                               94
InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                   87
InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                     95
InstituteViews. Topic:7. Management was generally supportive of me                                                                                                88
InstituteViews. Topic:8. Management was generally supportive of my team                                                                                           94
InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                             92
InstituteViews. Topic:10. Staff morale was positive within the Institute                                                                                         100
InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly                                                                                   101
InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently                                                                               105
                                                                                                                                                                ...
WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                           91
WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                       96
WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                          92
WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date     93
WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                                99
WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                            96
Induction. Did you undertake Workplace Induction?                                                                                                                 83
InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                    270
InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                    219
InductionInfo. Topic: Did you undertake Team Induction?                                                                                                          262
InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                        147
InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                             147
InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                   147
InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                       172
InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                            147
InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                   149
InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                   147
InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                  147
InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                         147
Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                         94
Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                      108
Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                   115
Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                       116
Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                     121
Gender. What is your Gender?                                                                                                                                     106
CurrentAge. Current Age                                                                                                                                          106
Employment Type. Employment Type                                                                                                                                 106
Classification. Classification                                                                                                                                   106
LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                        106
LengthofServiceCurrent. Length of Service at current workplace (in years)                                                                                        106
Length: 72, dtype: int64

In [67]:
## Observations
#  There are 72 columns and 701 rows.  The other survey has 56 columns so these are not the same size.
#  This survey has more columns due to the fact that they made their questions Y/N, therefore
#  requiring that there be more columns to cover all the varables they were curious about.
#  There seems to be redundency in the columns.  I think a heatmap may assist in the visualization
#  of this.

In [68]:
tafe_survey.head()

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?,Workplace. Topic:Does your workplace promote and practice the principles of employment equity?,Workplace. Topic:Does your workplace value the diversity of its employees?,Workplace. Topic:Would you recommend the Institute as an employer to others?,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,Yes,Yes,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,Yes,Yes,Yes,Yes,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4

In [69]:
dete_survey = pd.read_csv('dete_survey.csv',na_values=['Not Stated'])

In [70]:
dete_survey_updated = dete_survey.drop(dete_survey.iloc[:, 28:49], axis=1)

In [71]:
dete_survey_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 35 columns):
ID                                     822 non-null int64
SeparationType                         822 non-null object
Cease Date                             788 non-null object
DETE Start Date                        749 non-null float64
Role Start Date                        724 non-null float64
Position                               817 non-null object
Classification                         455 non-null object
Region                                 717 non-null object
Business Unit                          126 non-null object
Employment Status                      817 non-null object
Career move to public sector           822 non-null bool
Career move to private sector          822 non-null bool
Interpersonal conflicts                822 non-null bool
Job dissatisfaction                    822 non-null bool
Dissatisfaction with the department    822 non-null bool
Physical work environment              822 non-null bool
Lack of recognition                    822 non-null bool
Lack of job security                   822 non-null bool
Work location                          822 non-null bool
Employment conditions                  822 non-null bool
Maternity/family                       822 non-null bool
Relocation                             822 non-null bool
Study/Travel                           822 non-null bool
Ill Health                             822 non-null bool
Traumatic incident                     822 non-null bool
Work life balance                      822 non-null bool
Workload                               822 non-null bool
None of the above                      822 non-null bool
Gender                                 798 non-null object
Age                                    811 non-null object
Aboriginal                             16 non-null object
Torres Strait                          3 non-null object
South Sea                              7 non-null object
Disability                             23 non-null object
NESB                                   32 non-null object
dtypes: bool(18), float64(2), int64(1), object(14)
memory usage: 123.7+ KB

In [72]:
#  Columns 28 through 49 were removed from dete_survey. These columns are 
#  not needed to answer the questions asked.

In [73]:
#tafe_survey_updated = tafe_survey.drop(dete_survey.iloc[:, 17:66], axis=1)
tafe_survey_updated = tafe_survey.drop(tafe_survey.columns[17:66], axis=1)

In [74]:
tafe_survey_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 23 columns):
Record ID                                                                    702 non-null float64
Institute                                                                    702 non-null object
WorkArea                                                                     702 non-null object
CESSATION YEAR                                                               695 non-null float64
Reason for ceasing employment                                                701 non-null object
Contributing Factors. Career Move - Public Sector                            437 non-null object
Contributing Factors. Career Move - Private Sector                           437 non-null object
Contributing Factors. Career Move - Self-employment                          437 non-null object
Contributing Factors. Ill Health                                             437 non-null object
Contributing Factors. Maternity/Family                                       437 non-null object
Contributing Factors. Dissatisfaction                                        437 non-null object
Contributing Factors. Job Dissatisfaction                                    437 non-null object
Contributing Factors. Interpersonal Conflict                                 437 non-null object
Contributing Factors. Study                                                  437 non-null object
Contributing Factors. Travel                                                 437 non-null object
Contributing Factors. Other                                                  437 non-null object
Contributing Factors. NONE                                                   437 non-null object
Gender. What is your Gender?                                                 596 non-null object
CurrentAge. Current Age                                                      596 non-null object
Employment Type. Employment Type                                             596 non-null object
Classification. Classification                                               596 non-null object
LengthofServiceOverall. Overall Length of Service at Institute (in years)    596 non-null object
LengthofServiceCurrent. Length of Service at current workplace (in years)    596 non-null object
dtypes: float64(2), object(21)
memory usage: 126.2+ KB

In [75]:
#  Columns 17 through 66 were removed from tafe_survey. These columns are 
#  not needed to answer the questions asked.

In [76]:
dete_survey_updated.columns

Index(['ID', 'SeparationType', 'Cease Date', 'DETE Start Date',
       'Role Start Date', 'Position', 'Classification', 'Region',
       'Business Unit', 'Employment Status', 'Career move to public sector',
       'Career move to private sector', 'Interpersonal conflicts',
       'Job dissatisfaction', 'Dissatisfaction with the department',
       'Physical work environment', 'Lack of recognition',
       'Lack of job security', 'Work location', 'Employment conditions',
       'Maternity/family', 'Relocation', 'Study/Travel', 'Ill Health',
       'Traumatic incident', 'Work life balance', 'Workload',
       'None of the above', 'Gender', 'Age', 'Aboriginal', 'Torres Strait',
       'South Sea', 'Disability', 'NESB'],
      dtype='object')

In [77]:
dete_survey_updated.columns = dete_survey_updated.columns.str.replace(' ',"_").str.lower().str.strip()

In [78]:
dete_survey_updated.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb'],
      dtype='object')

In [79]:
column_changes = {'Record ID': 'id', 'CESSATION YEAR': 'cease_date', 'Reason for ceasing employment':'separationtype', 'Gender. What is your Gender?': 'gender', 'CurrentAge. Current Age': 'age', 'Employment Type. Employment Type':'employment_status','Classification. Classification':'position', 'LengthofServiceOverall. Overall Length of Service at Institute (in years)':'institute_service'}
tafe_survey_updated.rename(column_changes, axis=1, inplace=True)
tafe_survey_updated.head(1)

,id,Institute,WorkArea,cease_date,separationtype,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,gender,age,employment_status,position,institute_service,LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2

In [80]:
dete_survey_updated.head()

,id,separationtype,cease_date,dete_start_date,role_start_date,position,classification,region,business_unit,employment_status,...,work_life_balance,workload,none_of_the_above,gender,age,aboriginal,torres_strait,south_sea,disability,nesb
0,1,Ill Health Retirement,08/2012,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,True,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,NaN,NaN,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011.0,2011.0,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970.0,1989.0,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,True,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [81]:
## Observation & comments
#  Updated some column names in tafe surveys

In [82]:
tafe_survey_updated['separationtype'].value_counts()

Resignation                 340
Contract Expired            127
Retrenchment/ Redundancy    104
Retirement                   82
Transfer                     25
Termination                  23
Name: separationtype, dtype: int64

In [83]:
dete_survey_updated['separationtype'].value_counts()

Age Retirement                          285
Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Voluntary Early Retirement (VER)         67
Ill Health Retirement                    61
Other                                    49
Contract Expired                         34
Termination                              15
Name: separationtype, dtype: int64

In [84]:
tafe_resignations = tafe_survey_updated[tafe_survey_updated['separationtype']
                                       == 'Resignation'].copy()
tafe_resignations['separationtype'].value_counts()

Resignation    340
Name: separationtype, dtype: int64

In [85]:
#  Boolean filter to create a new df for only those who have resigned

dete_resignations = dete_survey_updated[(dete_survey_updated['separationtype']
                                         == 'Resignation-Other reasons') | 
                                        (dete_survey_updated['separationtype']
                                         == 'Resignation-Other employer') | 
                                        (dete_survey_updated['separationtype'] 
                                         == 'Resignation-Move overseas/interstate')]
dete_resignations['separationtype'].value_counts()

Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Name: separationtype, dtype: int64

In [86]:
## Observations
#  Tafe has 340 separation records and Dete has 311 separation records
#  For Dete the largest bucket of responses fall into 'Resignation-
#  Other reasons'.  Unsure how much more detail exists for these. 'Other
#  reasons' may not provide enough data to answer the question.

In [87]:
#  Extracting year from the cease data column, currently formatted dd/yyyy
dete_resignations['cease_date'].value_counts()
pattern = r'([1-2][0-1][0-9][0-9])'
dete_resignations['cease_date'] = dete_resignations['cease_date'].str.extract(pattern).astype(float)
dete_resignations['cease_date'].value_counts().sort_index(ascending=False)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:4: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2014.0     22
2013.0    146
2012.0    129
2010.0      2
2006.0      1
Name: cease_date, dtype: int64

In [88]:
dete_resignations['cease_date'].isnull().sum()

11

In [89]:
dete_resignations['dete_start_date'].isnull().sum()

28

In [90]:
## Observations about dete
#  Year 2006 and 2010 look to be outliers with few people leaving.  It
#  appears that something happened in 2012/2013 that creaes a large exodus
#  11 null values in 'cease_date'
#  28 null values in 'dete_start_date'
#  Based on the visual print out below, within the 28 null in start_date
#  all 11 null values for cease_date exist.  Eliminating the 28 start_date
#  null values will also eliminate the 11 nukk values in cease_date

In [91]:
#  Review of the start date. Confirmation that start year is earlier than 
#  or equal to the cease date

dete_resignations['dete_start_date'].value_counts(ascending=False)

#  Using a bool to determine if any start dates are after the cease date
dete_start_cease_bool = dete_resignations['dete_start_date'] <= dete_resignations['cease_date']
dete_start_cease_bool.value_counts()

True     273
False     38
dtype: int64

In [92]:
#  the lines below visually show me that the null cease_dates are within
#  the null start_dates

opp_dete_bool = ~dete_start_cease_bool
#opp_dete_bool.value_counts()
dete_start_cease_test = dete_resignations[opp_dete_bool]
#dete_start_cease_test  #  Uncomment this before you run code

In [93]:
#  Now to explore how the code handles the boolean above. if there is a NaN
#  how is that handled in all 3 scenarios? year/NaN, NaN/year, NaN/NaN

dete_start_cease_bool_test = dete_start_cease_test['dete_start_date'] <= dete_start_cease_test['cease_date']
dete_start_cease_bool_test.value_counts()

#  The code above confirms that all 3 cases will provide a False bool and 
#  therefore will be removed from dete_start_cease_bool

False    38
dtype: int64

In [94]:
## Observation
#  273/311 (87.8%) start dates are earlier than or equal to the cease date.
#  38/311 (12.2%) False values.  There are 3 different conditions
#    1) Cease date is before start date - There are 0 instances of this
#    2) Null start date - 27/38 (11 non-null)
#    3) Null Cease date - 11/38 (27 non-null)
#  This means that the 'false' bool data is not valid for this analysis.
#  Thes data points should be omitted as we cannot determine the length of
#  time that someone was employed

In [95]:
## This box has become obsolete. The False values were removed from the df

#  For the 11 cease_data null values, what other data is missing in the 
#  other columns
#dete_resignations[dete_resignations['cease_date'].isnull()].isnull().sum()
#dete_resignations = dete_resignations[dete_start_cease_bool]
#dete_resignations[dete_resignations['cease_date'].isnull()].isnull().sum()

In [96]:
## This box has become obsolete. The False values were removed from the df

#  Based on the results above, for the 11 null values in 'cease_date', the
#  separation reason is available.  The 'dete_start_date' is also available
#  for 10/11 of the cease_date null values.

#  If these start dates that are available are within a relatively 'recent'
#  time period this data can be used because they fall into a 'short term'
# time frame and worst case will fall into that bucket.

In [97]:
## This box has become obsolete. The False values were removed from the df
## However, there are still interesting insights.

#  Exploration of the start dates for those 11 values above.  Recall that
#  10/11 start values are missing their cease date.

dete_null = dete_resignations[dete_resignations['cease_date'].isnull()]
dete_null['dete_start_date']

# I explored the start dates to see if there were any that could be salvaged.
# Based on thes results, I ask myself, what do I consider to be short term
# employment versus long term.  If I say that short term is <5 years then 
# I would omit all of this data as there is no way to confrim that any of
# fall into that bucket.  Though some of these could be short or long term
# there is no way to know without the cease date.  Therefor I believe it is
# best to omit this data.
#  The start date for many of these are reasonable.  Nothing needs to be
#  omitted due to a unreasonable start date.

683    2011.0
694    2012.0
704    2006.0
709       NaN
724    1984.0
770    1987.0
774    2005.0
788    1990.0
791    2007.0
797    2000.0
798    1995.0
Name: dete_start_date, dtype: float64

In [98]:
## This box has become obsolete. The False values were removed from the df
## However, there are still interesting insights.

#  I will now explore the data to determine how many of these 11 start dates
#  fall into the boolean filter above that shows a cease date before a 
#  start date. The goal is to see if there is any overlap and determine
#  the total number of values to be omitted.

In [99]:
## This box has become obsolete. The False values were removed from the df
## However, there are still interesting insights.

#dete_start_cease_bool = dete_resignations['dete_start_date'] <= dete_resignations['cease_date']

bool_comparison = ~dete_start_cease_bool & dete_null['dete_start_date']
bool_comparison.value_counts()

# I inverted the 'dete_start_cease_bool' so that the False values were now
# true. Now, using &, if the values in 'dete_null['dete_start_date']' are 
# also in 'dete_start_cease_bool' I will get a 'True'

False    301
True      10
dtype: int64

In [100]:
## Observations
# There are 10 'True' values which means that 10/11 of the values in 
# 'dete_null['dete_start_date']' are also in the 38/311 values that have a
# cease date before the start date.  Therefore, the total number of values
# being removed are 38 + 1 = 39, 39/311 = 12.5%

In [101]:
# import matplotlib.pyplot as plt
# fig, ax = plt.subplots()
# ax.boxplot(dete_resignations['cease_date'].values)
# plt.show()
#dete_resignations['cease_date'].plot(kind='box')


# fig, ax = plt.subplots()
# ax.boxplot(norm_reviews['RT_user_norm'])
# ax.set_ylim(0, 5)
# ax.set_xticklabels(['Rotten Tomatoes'])
# plt.show()

In [102]:
dete_resignations = dete_resignations[dete_start_cease_bool]
dete_resignations['cease_date'].isnull().sum()

0

In [103]:
#  Createing a new column for years of service

dete_resignations['institute_service'] = dete_resignations['cease_date'] - dete_resignations['dete_start_date']
dete_resignations['institute_service'].value_counts()

5.0     23
1.0     22
3.0     20
0.0     20
6.0     17
4.0     16
9.0     14
2.0     14
7.0     13
13.0     8
8.0      8
20.0     7
15.0     7
10.0     6
22.0     6
14.0     6
17.0     6
12.0     6
16.0     5
18.0     5
23.0     4
11.0     4
24.0     4
39.0     3
19.0     3
21.0     3
32.0     3
28.0     2
26.0     2
25.0     2
30.0     2
36.0     2
29.0     1
33.0     1
42.0     1
27.0     1
41.0     1
35.0     1
38.0     1
34.0     1
49.0     1
31.0     1
Name: institute_service, dtype: int64

In [104]:
##  In the above cell I created a new 'institute_service' clumns to contain
#   the number of years of service for an employee.

In [105]:
def update_vals (val) :
    if pd.isnull(val):
        return np.nan
    if val == '-' :
        return 'False'
    else:
        return 'True'

In [106]:
tafe_resignations['Contributing Factors. Job Dissatisfaction'].value_counts()

-                      270
Job Dissatisfaction     62
Name: Contributing Factors. Job Dissatisfaction, dtype: int64

In [107]:
tafe_resignations['Contributing Factors. Job Dissatisfaction'].isnull().sum()

8

In [108]:
#  this is an alternate way to perform the loop

#tafe_resignations['Contributing Factors. Job Dissatisfaction'] = [update_vals(val) for val in tafe_resignations['Contributing Factors. Job Dissatisfaction']]
#tafe_resignations['Contributing Factors. Job Dissatisfaction'].value_counts()

#   %timeit  put this before the first line of code. I want to see how much 
#   faster applymap is over this if statement (cant remember this type of 
#   statement)

In [109]:
tafe_resignations['Contributing Factors. Dissatisfaction'].value_counts()

-                                         277
Contributing Factors. Dissatisfaction      55
Name: Contributing Factors. Dissatisfaction, dtype: int64

In [110]:
tafe_resignations['Contributing Factors. Dissatisfaction'].isnull().sum()

8

In [111]:
#  this is an alternate way to perform the loop

#tafe_resignations['Contributing Factors. Dissatisfaction'] = [update_vals(val) for val in tafe_resignations['Contributing Factors. Dissatisfaction']]
#tafe_resignations['Contributing Factors. Dissatisfaction'].value_counts()

In [112]:
#  Use of applymap for function above

tafe_resignations[['Contributing Factors. Dissatisfaction', 'Contributing Factors. Job Dissatisfaction']] = tafe_resignations[['Contributing Factors. Dissatisfaction', 'Contributing Factors. Job Dissatisfaction']].applymap(update_vals)
#tafe_resignations[['Contributing Factors. Dissatisfaction', 'Contributing Factors. Job Dissatisfaction']]

In [113]:
tafe_resignations['Contributing Factors. Dissatisfaction'].value_counts()

False    277
True      55
Name: Contributing Factors. Dissatisfaction, dtype: int64

In [114]:
tafe_resignations['Contributing Factors. Dissatisfaction'].isnull().sum()

8

In [115]:
tafe_resignations['Contributing Factors. Job Dissatisfaction'].value_counts()

False    270
True      62
Name: Contributing Factors. Job Dissatisfaction, dtype: int64

In [116]:
tafe_resignations['Contributing Factors. Job Dissatisfaction'].isnull().sum()

8

In [131]:
##  ***************HELP***********
#   Issue: The df.any() method in this statement is only applying its
#   method against the first column in the list of columns. In the 'Results 1' image
#   You can compare the columns and see that the second column is not
#   considered.  See lines 54, 64, 65 as a example.

columns_tafe = ['Contributing Factors. Dissatisfaction','Contributing Factors. Job Dissatisfaction']
tafe_resignations['dissatisfaction'] = tafe_resignations[columns_tafe].any(axis=1, skipna=False)
tafe_resignations['dissatisfaction'].value_counts()

False    277
True      55
Name: dissatisfaction, dtype: int64

In [132]:
tafe_resignations['dissatisfaction'].isnull().sum()

8

In [133]:
pd.options.display.max_rows = 1000
tafe_resignations[['dissatisfaction','Contributing Factors. Dissatisfaction', 'Contributing Factors. Job Dissatisfaction']][36:45]

,dissatisfaction,Contributing Factors. Dissatisfaction,Contributing Factors. Job Dissatisfaction
53,False,False,False
54,True,True,False
55,False,False,False
56,False,False,False
58,False,False,True
63,False,False,False
64,True,True,False
65,True,True,False
66,False,False,False

In [137]:
columns_tafe2 = ['Contributing Factors. Job Dissatisfaction','dissatisfaction','Contributing Factors. Dissatisfaction']
tafe_resignations['dissatisfaction2'] = tafe_resignations[columns_tafe].any(axis=1, skipna=False)
tafe_resignations[['dissatisfaction2','dissatisfaction','Contributing Factors. Dissatisfaction', 'Contributing Factors. Job Dissatisfaction']][36:45]

,dissatisfaction2,dissatisfaction,Contributing Factors. Dissatisfaction,Contributing Factors. Job Dissatisfaction
53,False,False,False,False
54,True,True,True,False
55,False,False,False,False
56,False,False,False,False
58,False,False,False,True
63,False,False,False,False
64,True,True,True,False
65,True,True,True,False
66,False,False,False,False

In [120]:
##  ****************  HELP  ***************
##  A test of how df.any() works
##  df.any() seems to scan from left to right in a df. If a NaN is found
##  the method seems to skip all else in the df. 

##  Observation 1) If the whole row is 'False' except for one NaN then the 
##  whole row is NaN. Why wouldn't it be 'False'? See rows 0-2 below

##  Observation 2) If NaN is found then the method omits the remaining values
##  even when a 'True' value comes after it.  Why is this happening? This
##  feature of the method seems to defeat its purpose.  How can this be
##  avoided?

from pandas import DataFrame

e = {'a': [False,False,np.nan,True,False,np.nan,True],
        'b': [False,False,False,np.nan,np.nan,False,True],
            'c': [np.nan,False,False,False,True,True,False]
        }

df = DataFrame(e,columns= ['a', 'b', 'c'])

df['r'] = df[['b','c']].any(axis=1, skipna=False)
df

       a      b      c      r
0  False  False    NaN    NaN
1  False  False  False  False
2    NaN  False  False  False
3   True    NaN  False    NaN
4  False    NaN   True    NaN
5    NaN  False   True   True
6   True   True  False   True

In [121]:
columns = ['job_dissatisfaction','dissatisfaction_with_the_department','physical_work_environment',
           'lack_of_recognition','lack_of_job_security','work_location',
           'employment_conditions','work_life_balance','workload']

dete_resignations['dissatisfied'] = dete_resignations[columns].any(axis=1, skipna=False)

#dete_resignations[['dissatisfied','job_dissatisfaction','dissatisfaction_with_the_department','physical_work_environment',
#           'lack_of_recognition','lack_of_job_security','work_location',
#           'employment_conditions','work_life_balance','workload']]

In [122]:
dete_resignations['dissatisfied'].value_counts()

True     137
False    136
Name: dissatisfied, dtype: int64

In [123]:
## Observations
#  dete_resignations has ~50% employee resignations due to dissatisfaction
#  This seems quite high
#  tafe_resignations has a maximum of 117/340, 34% employee resignations
#  due to dissatisfaction.  This is lower but still quite high.

In [124]:
dete_resignations['institute'] = 'DETE'
tafe_resignations['institute'] = 'TAFE'

In [125]:
combined = pd.concat([dete_resignations,tafe_resignations], ignore_index=True)
#combined.info()

In [126]:
combined_updated = combined.dropna(axis=1,thresh=500)
combined_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 9 columns):
age                  561 non-null object
cease_date           608 non-null float64
employment_status    563 non-null object
gender               558 non-null object
id                   613 non-null float64
institute            613 non-null object
institute_service    563 non-null object
position             560 non-null object
separationtype       613 non-null object
dtypes: float64(2), object(7)
memory usage: 43.2+ KB